<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Game Store - Menu Principal</title>
</head>

<body class="bg-info text-center">

    <div>
        <img src="/img/logo.jpg" alt="logo">
        <h1 class="font-weight-bold">Game Store - Menu Principal</h1>
    </div>
    <a class="btn btn-dark" href="index-cliente">CADASTRO CLIENTE</a>
    <a class="btn btn-dark" href="index-game">CADASTRO GAME</a>
    <a class="btn btn-dark" href="index-contato">CONTATOS</a>

    <script src="/js/bootstrap.mim.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>

</html>